@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    rgba(80, 147, 225, 1) 0%,
    rgba(96, 210, 208, 1) 100%
  );
  overflow: hidden;
}

.app {
  @apply flex flex-col justify-start items-center pt-12;
}
